[Unit]
Description=DNSCrypt-proxy client
Documentation=https://github.com/jedisct1/dnscrypt-proxy/wiki

Requires=dnscrypt-proxy.socket

After=network-online.target
Wants=network-online.target

Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
DynamicUser=yes
CacheDirectory=dnscrypt-proxy
LogsDirectory=dnscrypt-proxy
RuntimeDirectory=dnscrypt-proxy

NonBlocking=true
ExecStart=/usr/bin/dnscrypt-proxy --config /etc/dnscrypt-proxy/dnscrypt-proxy.toml

ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes

[Install]
Also=dnscrypt-proxy.socket
WantedBy=multi-user.target
